/* FOR THE PRINT OF THE MEDIA */

@media print {

    .printBreak{
      page-break-after: always;
      break-after: always;
    }
  
    .printNone{
      display: none;
    }
  
  }

/* BACKGROUND SOLID COLORS */

.bg-grey-100{
background-color: rgb(255, 255, 255);
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}
.d-flex-row{
  display: flex;
  flex-direction: row;
}
.d-flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.d-flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.align-items-center{
  align-items: center!important;
}
.justify-content-center{
  justify-content: center!important;
}

.bold{
  font-weight: 600;
}
.underline{
  text-decoration: underline;
}

.cursorPointer{
  cursor: pointer;
}


.font10{
  font-size: 10pt;
}
.font11{
  font-size: 11pt;
}
.font12{
  font-size: 12pt;
}
.font14{
  font-size: 14pt;
}
.font16{
  font-size: 16pt;
}
.font18{
  font-size: 18pt;
}